<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Podcasts - Dylan Gemelli</title>
    <meta name="description" content="Welcome to the Home of Dyalan Gemelli! I'm happy to have you with me on this journey.">
    <meta name="keywords" content="">
    <meta name="author" content="https://dylangemelli.com"> 
	
	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="../images/Dylan-Gemelli.png">
	<link rel="apple-touch-icon" href="../images/Dylan-Gemelli.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../images/Dylan-Gemelli.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../images/Dylan-Gemelli.png">
	
	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="../css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="../css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="../css/vendor/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="../css/vendor/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../css/vendor/bootstrap-dropdownhover.min.css">
	
	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	
    <script type="text/javascript" src="../js/vendor/modernizr.min.js"></script>
<style>.box-event .body-content h4{font-size:1em}</style>
</head>

<body>

	<!-- LOAD PAGE -->
	<div class="animationload">
		<div class="loader"></div>
	</div>
	
	<!-- BACK TO TOP SECTION -->
	<a href="#0" class="cd-top cd-is-visible cd-fade-out">Top</a>

	<!-- HEADER -->
    <div class="header header-1">
    	<!-- TOPBAR -->
		<div class="topbar">
			<div class="container">
				

				<div class="contact-info">
					<!-- INFO 1 -->
					<div class="box-icon-1">
						<div class="icon">
							<div class="fa fa-envelope-o"></div>
						</div>
						<div class="body-content">
							<div class="heading">Email Support</div>
							info@trainer.com
						</div>
					</div>
					<!-- INFO 2 -->
					<div class="box-icon-1">
						<div class="icon">
							<div class="fa fa-phone"></div>
						</div>
						<div class="body-content">
							<div class="heading">Call Support</div>
							+62 123 6700 411
						</div>
					</div>
					<!-- INFO 3 -->
					<div class="box-icon-1">
						<div class="icon">
							<div class="fa fa-clock-o"></div>
						</div>
						<div class="body-content">
							<div class="heading">Operating Hours</div>
							Mon - Fri 08:00 - 17:00
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<!-- NAVBAR SECTION -->
		<div class="navbar navbar-main">
		
			<div class="container container-nav">
				<div class="row">
						
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						
					</div>

					<a class="navbar-brand" href="/index">DylanGemelli.com</a>

					<nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
							<ul class="nav navbar-nav">
							<li class="dropdown">
							  <a href="/">Home</a>

							</li>
							<li><a href="/about">About</a></li>
							<li><a href="/podcasts">Podcasts</a></li>
							<li><a href="/dylan-picks">Dylan's Picks</a></li>
							<li><a href="/videos">Videos</a></li>
							<li><a href="/blogs">Blogs</a></li>
							<li><a href="/ebooks">eBooks</a></li>
							<li><a href="/contact">Contact</a></li>
							<li><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdJBqxqkrX2qTNMwSNp6QukDgkAkDFeE-ghQsuOtt8-zQXp3g/viewform">Collaboration Opportunities</a></li>
						</ul>
					</nav>
						
				</div>
			</div>
	    </div>

    </div>
 
	<!-- BANNER -->
	<div class="section banner-page">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="title-page">Podcasts</div>
				</div>
			</div>
		</div>
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
					<li><a href="/index">Home</a></li>
					<li class="active">Podcasts</li>
				</ol>
			</div>
		</div>
	</div>

	<!-- CONTENT -->
	<div class="section section-border">
		<div class="container">

			<div class="row">

				<div class="row gallery-1">
				<div class="col-sm-6 col-md-6">
					<div class="box-event style-2">
						<div class="meta-date">
							<img src="../images/Apple-Podcast-Profile-Picture-v2.png">
						</div>
						<div class="body-content">
							<h4><a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-37-featuring-dr-stephen-cabral-a-journey/id1780873400?i=1000716991087">Episode #37 Featuring Dr. Stephen Cabral!  A journey into integrative health, the DESRESS Protocol, importance of micronutrients, how to analyze lab results, mercury and fish consumption, foundational foods for optimal health, and more!!</a></h4>
						</div>
						<div class="detail-event">
							<a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-37-featuring-dr-stephen-cabral-a-journey/id1780873400?i=1000716991087" class="btn btn-ghost-dark">VIEW DETAIL</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="box-event style-2">
						<div class="meta-date">
							<img src="../images/Apple-Podcast-Profile-Picture-v2.png">
						</div>
						<div class="body-content">
							<h4><a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-36-featuring-dr-steven-gundry-part-2-lets-talk/id1780873400?i=1000716214177">Episode #36 Featuring Dr. Steven Gundry Part 2!  Let's Talk Lectins!  Exposing Glyphosate, Breaking down Probiotics, Prebiotics and Postbiotics, a Raw Milk Debate, The Vitamin D Paradox and so much more!!</a></h4>
						</div>
						<div class="detail-event">
							<a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-36-featuring-dr-steven-gundry-part-2-lets-talk/id1780873400?i=1000716214177" class="btn btn-ghost-dark">VIEW DETAIL</a>
						</div>
					</div>
				</div>
				
				</div>
				<div class="spacer-50"></div>
				<div class="row gallery-1">
				<div class="col-sm-6 col-md-6">
					<div class="box-event style-2">
						<div class="meta-date">
							<img src="../images/Apple-Podcast-Profile-Picture-v2.png">
						</div>
						<div class="body-content">
							<h4><a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-35-featuring-dr-david-jockers-a/id1780873400?i=1000713655335">Episode #35 Featuring Dr. David Jockers!  A comprehensive breakdown of cholesterol, avoiding grains, the importance of fats and protein, a masterclass on intermittent fasting, MITOCHONDRIA and cellular health, TOP 5 MOST ESSENTIAL FOODS and more!</a></h4>
						</div>
						<div class="detail-event">
							<a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-35-featuring-dr-david-jockers-a/id1780873400?i=1000713655335" class="btn btn-ghost-dark">VIEW DETAIL</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="box-event style-2">
						<div class="meta-date">
							<img src="../images/Apple-Podcast-Profile-Picture-v2.png">
						</div>
						<div class="body-content">
							<h4><a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-34-featuring-clark-bartram-the-fittest-61/id1780873400?i=1000712885873">Episode 34 Featuring Clark Bartram, the FITTEST 61 year old on the planet!  A MASTERCLASS in wellness obtainment!  Overcoming myths in Fitness, TRT USE and MISUSE, picking the RIGHT supplements, NUTRITION, FAITH DRIVEN. the CBX System and more!</a></h4>
						</div>
						<div class="detail-event">
							<a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-34-featuring-clark-bartram-the-fittest-61/id1780873400?i=1000712885873" class="btn btn-ghost-dark">VIEW DETAIL</a>
						</div>
					</div>
				</div>
				</div>
				<div class="spacer-50"></div>
				<div class="row gallery-1">
				<div class="col-sm-6 col-md-6">
					<div class="box-event style-2">
						<div class="meta-date">
							<img src="../images/Apple-Podcast-Profile-Picture-v2.png">
						</div>
						<div class="body-content">
							<h4><a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-33-featuring-ben-azadi-the-metabolic-freedom/id1780873400?i=1000712354421">Episode #33 Featuring Ben Azadi!! THE METABOLIC FREEDOM EPISODE!  The importance and role of fats, intermittent fasting, the great oatmeal debate, metabolic flexibility, keto vs. carnivore, foods that support metabolism, best carb sources and more!!</a></h4>
						</div>
						<div class="detail-event">
							<a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-33-featuring-ben-azadi-the-metabolic-freedom/id1780873400?i=1000712354421" class="btn btn-ghost-dark">VIEW DETAIL</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
				
					<div class="box-event style-2">
						<div class="meta-date">
							<img src="../images/Apple-Podcast-Profile-Picture-v2.png">
						</div>
						<div class="body-content">
							<h4><a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-32-dylan-gemelli-featured-in-an-epic/id1780873400?i=1000711952692">Episode #32 Dylan Gemelli Featured in an epic interview on The Kevin Trudeau “Limitless” Podcast!  “How to stay young and fit forever”</a></h4>
						</div>
						<div class="detail-event">
							<a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-32-dylan-gemelli-featured-in-an-epic/id1780873400?i=1000711952692" class="btn btn-ghost-dark">VIEW DETAIL</a>
						</div>
					</div>
				</div>	
			</div>	
					

				<div class="spacer-50"></div>
				<div class="row gallery-1">
				
				<div class="col-sm-6 col-md-6">
					<div class="box-event style-2">
						<div class="meta-date">
							<img src="../images/Apple-Podcast-Profile-Picture-v2.png">
						</div>
						<div class="body-content">
							<h4><a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-31-the-metabolic-power-of-the-peptide-aod/id1780873400?i=1000710880896">Episode #31 The Metabolic Power of the Peptide AOD 9604!  Is AOD 9604 the future of metabolic enhancement? Is it a possible alternative to GLP-1's? The science behind AOD 9604 and weight loss, mechanisms of action, breakdown of benefits and more!!</a></h4>
						</div>
						<div class="detail-event">
							<a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-31-the-metabolic-power-of-the-peptide-aod/id1780873400?i=1000710880896" class="btn btn-ghost-dark">VIEW DETAIL</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="box-event style-2">
						<div class="meta-date">
							<img src="../images/Apple-Podcast-Profile-Picture-v2.png">
						</div>
						<div class="body-content">
							<h4><a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-30-featuring-dr-robin-rose-the-gut-microbiome/id1780873400?i=1000710122823">Episode #30 Featuring Dr. Robin Rose!  The Gut Microbiome and Covid Expert!!  Insight on how the covid virus works, the dangers of spike proteins, long covid concerns, a FULL breakdown of leaky gut, how to treat it, SPORE probiotics and MORE!!</a></h4>
						</div>
						<div class="detail-event">
							<a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-30-featuring-dr-robin-rose-the-gut-microbiome/id1780873400?i=1000710122823" class="btn btn-ghost-dark">VIEW DETAIL</a>
						</div>
					</div>
				</div>
				
				</div>
				<div class="spacer-50"></div>
				<div class="row gallery-1">
				
				<div class="col-sm-6 col-md-6">
					<div class="box-event style-2">
						<div class="meta-date">
							<img src="../images/Apple-Podcast-Profile-Picture-v2.png">
						</div>
						<div class="body-content">
							<h4><a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-29-who-is-dylan-gemelli-from-prison-to-prominence/id1780873400?i=1000709701263">Episode #29  WHO is Dylan Gemelli??    From prison to prominence, the will to overcome adversity, fighting an eating disorder, a voice for the voiceless, driven by God, my mission,. fighting back against "the narrative"  and so much more!</a></h4>
						</div>
						<div class="detail-event">
							<a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-29-who-is-dylan-gemelli-from-prison-to-prominence/id1780873400?i=1000709701263" class="btn btn-ghost-dark">VIEW DETAIL</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="box-event style-2">
						<div class="meta-date">
							<img src="../images/Apple-Podcast-Profile-Picture-v2.png">
						</div>
						<div class="body-content">
							<h4><a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-28-featuring-dr-scott-sherr-part-2-the/id1780873400?i=1000709164561">Episode #28 Featuring Dr. Scott Sherr PART 2!  THE METHYLENE BLUE CLINIC!  Debunking Methylene Blue Myths, "Blue Brains," Mechanism of Action, Mitochondrial and Athletic Performance Benefits, Proper Dosing Protocols, Quality Control and MORE!!</a></h4>
						</div>
						<div class="detail-event">
							<a target="_blank" href="https://podcasts.apple.com/us/podcast/episode-28-featuring-dr-scott-sherr-part-2-the/id1780873400?i=1000709164561" class="btn btn-ghost-dark">VIEW DETAIL</a>
						</div>
					</div>
				</div>
				
				
			</div>

			</div>
		</div>
	</div>
	
	
	<div class="section blog">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12 col-md-12">
					<h2 class="section-heading">Connect with Me</h2>
				</div>

				<div class="clearfix"></div>

				<div class="col-sm-4 col-md-4">
					<!-- BOX 1 -->
					<div class="box-news-1">
						<div class="media gbr">
							<a target="_blank" href="https://www.youtube.com/@DylanGemelliBiohacking"><img src="../images/youtube-bg.jpg" alt="" class="img-responsive"></a>
						</div>
						<div class="body">
							<div class="title"><a target="_blank" href="https://www.youtube.com/@DylanGemelliBiohacking" title="">Dylan Gemelli Biohacking</a></div>
							<!--<div class="meta">
								<span class="date"><i class="fa fa-clock-o"></i> Aug 24, 2017</span>
								<span class="comments"><i class="fa fa-comment-o"></i> 0 Comments</span>
							</div>-->
						</div>
					</div>
				</div>

				<div class="col-sm-4 col-md-4">
					<!-- BOX 1 -->
					<div class="box-news-1">
						<div class="media gbr">
							<a target="_blank" href="https://podcasts.apple.com/us/podcast/the-dylan-gemelli-podcast/id1780873400"><img src="../images/apple-bg.jpg" alt="" class="img-responsive"></a>
						</div>
						<div class="body">
							<div class="title"><a target="_blank" href="https://podcasts.apple.com/us/podcast/the-dylan-gemelli-podcast/id1780873400" title="">Apple Podcasts</a></div>
						</div>
					</div>
				</div>

				<div class="col-sm-4 col-md-4">
					<!-- BOX 1 -->
					<div class="box-news-1">
						<div class="media gbr">
							<a target="_blank" href="https://open.spotify.com/show/3In4QlJj4IvHqq0eduKj7m"><img src="../images/spotify-bg.jpg" alt="" class="img-responsive"></a>
						</div>
						<div class="body">
							<div class="title"><a target="_blank" href="https://open.spotify.com/show/3In4QlJj4IvHqq0eduKj7m" title="">Podcast on Spotify</a></div>
						</div>
					</div>
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<!-- CTA -->
	<div class="section cta section-no-padding pd30">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="cta-1">
		              	<div class="body-text">
		                	<h3>Are You Ready For Coach Training?</h3>
		              	</div>
		              	<div class="body-action">
		                	<a href="/contact" class="btn btn-primary">Connect With Me</a>
		              	</div>
		            </div>
				</div>
			</div>
		</div>
	</div>

	<!-- FOOTER SECTION -->
	<div class="footer">
		
		<div class="fcopy">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<p class="ftex">&copy; 2025 DylanGemelli.com - All Rights Reserved.</p> 
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!-- JS VENDOR -->
	<script type="text/javascript" src="../js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/vendor/jquery.superslides.js"></script>
	<!--<script type="text/javascript" src="../js/vendor/owl.carousel.js"></script>-->
	<script type="text/javascript" src="../js/vendor/bootstrap-dropdownhover.min.js"></script>
	<script type="text/javascript" src="../js/vendor/jquery.magnific-popup.min.js"></script>
	<!-- SENDMAIL -->
	<script type="text/javascript" src="../js/vendor/validator.min.js"></script>
	<script type="text/javascript" src="../js/vendor/form-scripts.js"></script>
	<script type='text/javascript' src='https://maps.google.com/maps/api/js?sensor=false&#038;ver=4.1.5'></script>
	<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
